extends layout

block content
  h1= title
  
  form(role='form', class="form-inline", method="get")
    div(class="form-group")
      input(type="text", class="form-control", name="q")
    button(type="submit" class="btn btn-default") Convert

  h3
    span(class="label label-default") #{hanzi}
  h3
    span(class="label label-success") #{pinyin}